@font-face {
  font-family: "HelveticaNeue";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("HelveticaNeue"),
    url("/fonts/HelveticaNeue-Regular.woff2") format("woff2"),
    url("/fonts/HelveticaNeue-Regular.woff") format("woff");
}
