.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  width: rv(60);
  height: rv(60);
  background: var(--color-slider-bg);
  border: rv(2) solid var(--color-slider-border);
  border-radius: 50%;
  left: rv(-124);
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rv(16);
    height: rv(16);
    background: url("../assets/images/icons/arrow-slider.svg") no-repeat center
      center;
    background-size: cover;
  }
}
.swiper-button-next {
  right: rv(-124);
  left: auto;
  &::before {
    transform: translate(-50%, -50%) scale(-1, 1);
  }
}

.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}
