@import "./mixins";
@import "./swiper";
@import "./fonts";

:root {
  --color-primary: #1a1a1a;
  --color-white: #ffffff;
  --color-white-rgba: 255, 255, 255;
  --color-green: #34c759;
  --color-dark: #252525;
  --color-dark-2: #191919;
  --color-title: #303030;
  --color-slider-border: var(--color-title);
  --color-slider-bg: #262626;
  --color-subtitle: #d9d9d9;
  --color-gray: #a6a6a6;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  cursor: default;
}

html {
  font-size: vw(16);
}

body {
  font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
  background: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
